/*======HELPER CLASSES======*/
/*-----START-----*/
/*fonts*/
.font-roboto {font-family: 'Roboto', sans-serif;}

/*font size*/
.font-10 {font-size: 10px;}
.font-11 {font-size: 11px;}
.font-12 {font-size: 12px;}
.font-13 {font-size: 13px;}
.font-14 {font-size: 14px;}
.font-15 {font-size: 15px;}
.font-16 {font-size: 16px;}
.font-17 {font-size: 17px;}
.font-18 {font-size: 18px;}
.font-19 {font-size: 19px;}
.font-20 {font-size: 20px;}
.font-21 {font-size: 21px;}
.font-22 {font-size: 22px;}
.font-23 {font-size: 23px;}
.font-24 {font-size: 24px;}
.font-25 {font-size: 25px;}
.font-26 {font-size: 26px;}
.font-27 {font-size: 27px;}
.font-28 {font-size: 28px;}
.font-500 {font-weight: 500;}
.font-600 {font-weight: 600;}
.font-700 {font-weight: 700;}

/*text transform*/
.t-up {text-transform: uppercase;}

/*line height*/
.line-height-20 {
    line-height: 1.2;
}

/*background*/
.bg-yellow {background-color: rgba(251,190,63,1) !important;}
.bg-black {background-color: rgba(34,34,34,1) !important;}
.bg-black-07 {background-color: rgba(34,34,34,0.7) !important;}

/*color*/
.item-yellow {color: rgba(251,190,63,1) !important;}
.item-white {color: rgba(255,255,255,1) !important;}
.item-white-08 {color: rgba(255,255,255,0.8) !important;}
.item-dark {color: rgba(74,74,74,1) !important;}
.item-grey {color: rgba(184,184,184,1) !important;}
.item-grey-08 {color: rgba(184,184,184, 0.8)!important;}
.item-light {color: rgba(192,192,192,1) !important;}

/*display*/
.display-box {display: inline-box;display: -moz-inline-box;display: -webkit-inline-box;}
.display-block {display: block;}
/*-----END-----*/



/*======GENERAL CLASSES=====*/
/*-----START-----*/
body {
    font-family: 'Ubuntu', sans-serif;
}
/*-----END-----*/



/*======COVER STYLES=====*/
/*-----START-----*/
.cover-overlay {
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, rgba(34,34,34,0.5), rgba(34,34,34,0.2) );
}
.cover-title h1{
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.cover-title p{
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.cover-title .lead {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.jumbotron {
    z-index: 0;
    height: 100vh;
    background-size: cover;
    background: url('../images/cover/cover-1.jpg') center no-repeat;
}
/*-----END-----*/



/*======BUTTON STYLES=====*/
/*-----START-----*/
.cover-title {
    padding-top: 300px;
    line-height: 25px;
}
.btn-outline-success:not(:disabled):not(.disabled):active {
    background-color: rgba(255,255,255,1);
    border-color: rgba(255,255,255,1);
    color: rgba(34,34,34,1);
}
.btn-outline-success:not(:disabled):not(.disabled):active:focus,.btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,0);
}
.btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: rgba(251,190,63,1);
    border-color: rgba(251,190,63,1);
    color: rgba(34,34,34,1);
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,0);
}
.btn-outline-warning:not(:disabled):not(.disabled):active {
    background-color: rgba(251,190,63,1);
    border-color: rgba(251,190,63,1);
    color: rgba(34,34,34,1);
}
.btn-outline-warning:not(:disabled):not(.disabled):active:focus,.btn-outline-warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,0);
}
.btn-outline-info:not(:disabled):not(.disabled):active {
    background-color: rgba(251,190,63,1);
    border-color: rgba(251,190,63,1);
    color: rgba(34,34,34,1);
}
.btn-outline-info:not(:disabled):not(.disabled):active:focus,.btn-outline-info:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,0);
}
.btn-lg {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 16px;
}
.btn-outline-primary {
    border: 3px solid rgba(251,190,63,1);
    background-color: transparent;
    color: rgba(251,190,63,1);
}

.btn-outline-primary:hover {
    background-color: rgba(251,190,63,1);
    border: 3px solid rgba(251,190,63,1);
    color: rgba(34,34,34,1);
}

.btn-outline-success {
    border: 3px solid rgba(255,255,255,0.8);
    background-color: transparent;
    color: rgba(255,255,255,0.8);
}

.btn-outline-success:hover {
    background-color: rgba(255,255,255,1);
    border: 3px solid rgba(255,255,255,1);
    color: rgba(34,34,34,1);
}
.btn-outline-warning {
    width: 100px;
    border-radius: initial;
    border: 3px solid rgba(251,190,63,1);
    background-color: transparent;
    color: rgba(251,190,63,1);
}

.btn-outline-warning:hover {
    background-color: rgba(251,190,63,1);
    border: 3px solid rgba(251,190,63,1);
    color: rgba(34,34,34,1);
}
.btn-outline-info {
    border-radius: initial;
    border: 1px solid rgba(34,34,34,1);
    background-color: transparent;
    color: rgba(34,34,34,1);
}

.btn-outline-info:hover {
    background-color: rgba(34,34,34,1);
    border: 1px solid rgba(251,190,63,1);
    color: rgba(255,255,255,1);
}

/*-----END-----*/



/*======HEADER STYLES=====*/
/*-----START-----*/
.header-logo a{
    width: 100%;
}
.phone-icon,
.email-icon {
    width: 30px;
    font-size: 30px;
}
.call-us-info,
.email-us-info {
    line-height: 14px;
}
hr {
    width: 100%;
    height: 0.01em;
    background: rgba(184,184,184, 0.3);
    margin: 0 25px 0 25px ;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.8);
}
.navbar-dark .navbar-nav .active>.nav-link {
    color: rgba(251,190,63,1);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.navbar-nav .nav-item .nav-link:hover {
    color: rgba(251,190,63,1);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

/*-----END-----*/


/*======CARD STYLES=====*/
/*-----START-----*/
.card-deck {
    max-height: 50vh;
}
.card {
    border: none;
}

.card-img {
    border-radius: 0;
}

.card-img-overlay {
    width: 100%;
    height: 35%;
    background: linear-gradient(to top, rgba(34,34,34,0.7), rgba(34,34,34,0.7) );
    top: initial;
}

.card-img-overlay-reveal {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(34,34,34,0.7), rgba(34,34,34,0.7) );
    padding: 1.25rem;
}

.card-reveal {
    display: none;
}
.wrapper {
    position: relative;
    overflow: hidden;
}
.wrapper:after {
    content: '';
    display: block;
    padding-top: 140%;
}

.wrapper img {
    width: auto;
    height: 100%;
    max-width: none;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
.civil {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.glazing {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.interior {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
/*-----END-----*/

/*======GALLERY STYLES=====*/
/*-----START-----*/

.gallery-text {
    width: 33%;
}
.gallery-project-bg {
    width: 100%;
    object-fit: cover;
    background-position: center;
}
.gallery-rendam {
    background: url("../images/gallery/rendam.jpg") no-repeat center;
    background-size: cover;
}
.gallery-pecca {
    background: url("../images/gallery/pecca.jpg") no-repeat center;
    background-size: cover;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.gallery-maxell {
    background: url("../images/gallery/maxell.jpg") no-repeat center;
    background-size: cover;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.gallery-earth {
    background: url("../images/gallery/earth.jpg") no-repeat center;
    background-size: cover;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.gallery-overlay {
    width: 100%;
    background: rgba(34, 34, 34, 0.2);
    height: 270px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.gallery-overlay-lg {
    width: 100%;
    background: rgba(34, 34, 34, 0.2);
    height: 540px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.gallery-overlay:hover,
.gallery-overlay-lg:hover {
    background: transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.gallery-reveal {
    display: none;
}
.gallery-overlay-reveal {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(34,34,34,1);
    border: 3px solid rgba(251,190,63,1);
    padding: 1.25rem;
}
ul {
    list-style: none;
}
.gallery-overlay-reveal ul li:before {
    content:"\2714\0020";
}
/*-----END-----*/

/*======COMPANY STYLES=====*/
/*-----START-----*/
.quality-control {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.project-tracking {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.communication {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.project-planning img,
.project-tracking img,
.communication img,
.quality-control img {
    width: 50px;
    height: 50px;
}
.company-text {
    width: 36%;
}
/*-----END-----*/


/*======PARALLAX STYLES=====*/
/*-----START-----*/

.parallax-banner {
    text-align: center;
    background: linear-gradient(to top, rgba(34,34,34,0.6), rgba(34,34,34,0.6) ),
    url("../images/parallax/parallax.jpg") center repeat fixed;
    background-size: cover;
}

/*-----END-----*/

/*======FORM STYLES=====*/
/*-----START-----*/

.form-content {
    width: 33%  ;
}
.form-control::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 14px;
}
.form-control::-moz-placeholder {
    color: #C0C0C0;
    font-size: 14px;
}
.form-control:-ms-input-placeholder {
    color: #C0C0C0;
    font-size: 14px;
}
.form-control:-moz-placeholder {
    color: #C0C0C0;
    font-size: 14px;
}
.form-control:focus {
    border-color: #DD0D36 !important;
    box-shadow: 0 0 10px rgba(251,190,63,1) !important;
}

/*-----END-----*/


/*======SIDEBAR STYLES=====*/
/*-----START-----*/

.waze-map-embed a img {
    object-fit: none;
   max-height: 150px;
    width: 100%;
}
.google-map-embed iframe {
    width: 100%;
    height: 33%;
}
.contact-info {
    background-color: #222;
}
/*-----END-----*/


/*======SIDEBAR STYLES=====*/
/*-----START-----*/

.footer {
    background-color: #222;
}
.footer-nav {
    margin-bottom: 10px;
}
.footer-nav li a {
    color: rgba(255,255,255,1);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.footer-nav li a:hover {
    text-decoration: none;
    color: rgba(251,190,63,1);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.footer-credit p a {
    color: rgba(184,184,184, 0.8);
}
.footer-credit p a:hover{
    text-decoration: none;
    border-bottom: 1px solid white;
}
/*-----END-----*/

/*======TOP BUTTON STYLES=====*/
/*-----START-----*/
#goToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgba(34,34,34,1);
    cursor: pointer;
    font-size: 70px;
    transition: 0.3s;
}

#goToTop:hover {
    background-color: transparent;
    color: rgba(251,190,63,1);
    transition: 0.3s;
}

/*-----END-----*/
